@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);

  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-violet: hsl(257, 7%, 63%);
  --neutral-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}

/* Main Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--neutral-violet);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Utility */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  background: var(--primary-cyan);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background: hsl(180, 66%, 60%);
}

.btn-secondary {
  border-radius: 10px;
}

.btn-dark {
  background: var(--primary-violet)
}

.btn-dark:hover,
.btn-dark:active {
  background: hsl(257, 27%, 35%);
}

.btn-large {
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

.logo {
  width: 121px;
  height: 33px;
}

.logo-dark {
  fill: var(--neutral-dark-violet);
}

.logo-light {
  fill: #fff;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.l-heading {
  color: var(--neutral-dark-violet);
  font-size: 2rem;
}

.heading {
  color: var(--neutral-dark-blue);
  font-size: 4rem;
  line-height: 1.1;
}

.sub-heading {
  font-size: 1.3rem;
}

.heading-detail {
  font-size: 1.1rem;
}

.title {
  color: var(--neutral-dark-blue);
  font-size: 1.3rem;
}

.card {
  position: relative;
  background: #fff;
  padding: 4rem 1.6rem 2rem 1.6rem;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.card .card-icon {
  position: absolute;
  top: -40px;
  left: 30px;
  background: var(--primary-violet);
  color: var(--primary-cyan);
  padding: 1rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-description {
  font-size: 0.9rem;
}

/* Header */
#main-header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 8rem;
}

/* Navbar */
#main-header #navbar {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links .nav-link {
  color: var(--neutral-violet);
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-links .nav-link:hover,
.nav-links .nav-link:active {
  color: var(--neutral-dark-violet);
}

#navbar .authentication {
  margin-left: auto;
}

/* Showcase */
#main-header .showcase {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 0.5rem 4rem;
}

.showcase .heading {
  margin-top: auto;
}

.showcase .showcase-image {
  grid-row: 1 / span 3;
  grid-column: 2;
}

.showcase .btn-start {
  margin: 0 auto auto 0;
  transform: translateY(-50%);
}

/* Main Working Area */
.working-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  padding-bottom: 7rem;
}

.working-area .link-generate {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: -7rem;
}

/* Link Generating Form */
.link-generate .shortening-form {
  background: url('../images/bg-shorten-desktop.svg') no-repeat center
      center/cover,
    var(--primary-violet);
  padding: 3rem 4rem;
  border-radius: 10px;
  position: relative;

  display: flex;
  gap: 1.5rem;
}

.shortening-form input {
  flex: 80%;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
}

.shortening-form .btn-shorten {
  flex: 20%;
  position: relative;
}

.btn-shorten .spinner {
  position: absolute;
  inset: 0;
  margin: auto;
  fill: red;
  width: 35px;
  height: 35px;
  animation: rotating 2s linear infinite;
}

.hide-spinner {
  display: none;
  animation: none;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.shortening-form .error-message {
  position: absolute;
  left: 4rem;
  bottom: 1rem;
  color: var(--secondary-red);
  font-style: italic;
  font-size: 1rem;
}

.link-generate .shorten-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shorten-result .result-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.result-container .old-link {
  color: var(--neutral-dark-violet);
  font-size: 1.3rem;
}

.result-container .new-link-field {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.result-container .new-link-field .new-link {
  color: var(--primary-cyan);
}

/* Statistics */
.working-area .statistics {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.statistics .l-heading,
.statistics .heading-detail {
  text-align: center;
  max-width: 530px;
}

.statistics .stats-items {
  position: relative;
  margin-top: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.stats-items .stats-line {
  position: absolute;
  top: 45%;
  width: 90%;
  height: 6px;
  background: var(--primary-cyan);
}

.card:nth-child(2) {
  transform: translateY(-20%);
}

.stats-items .card:nth-child(4) {
  transform: translateY(20%);
}

/* Boost Links Section */
.boost-links {
  background: url('../images/bg-boost-desktop.svg') no-repeat center center/cover,
    var(--primary-violet);
  padding: 1rem 0;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.boost-links .l-heading {
  color: #fff;
  margin-bottom: 1.5rem;
}

/* Footer */
.main-footer {
  background: var(--neutral-dark-violet);
  padding: 2rem;
}

.main-footer .footer-container {
  display: flex;
}

.footer-container .logo {
  flex: 3;
}

.footer-container .footer-content {
  flex: 7;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-menu .lead {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer-menu ul li a {
  color: var(--neutral-violet);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.footer-menu ul li a:hover,
.footer-menu ul li a:active {
  color: var(--primary-cyan);
}

.footer-content .social {
  display: flex;
  gap: 1.5rem;
}

.footer-content .social .social-icon {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.footer-content .social .social-icon:hover,
.footer-content .social .social-icon:active {
  fill: var(--primary-cyan);
}
