@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);

  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-violet: hsl(257, 7%, 63%);
  --neutral-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}

/* Main Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--neutral-violet);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Utility */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.hamburger {
  display: none;
  margin-left: auto;
  width: 40px;
  height: 40px;
  fill: var(--neutral-violet);
  cursor: pointer;
}

.hamburger:hover,
.hamburger:active {
  fill: var(--neutral-dark-violet);
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  background: var(--primary-cyan);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background: hsl(180, 66%, 60%);
}

.btn-secondary {
  border-radius: 10px;
}

.btn-dark {
  background: var(--primary-violet);
}

.btn-dark:hover,
.btn-dark:active {
  background: hsl(257, 27%, 35%);
}

.btn-large {
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

.logo {
  width: 121px;
  height: 33px;
}

.logo-dark {
  fill: var(--neutral-dark-violet);
}

.logo-light {
  fill: #fff;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.l-heading {
  color: var(--neutral-dark-violet);
  font-size: 2rem;
}

.heading {
  color: var(--neutral-dark-blue);
  font-size: 4rem;
  line-height: 1.1;
}

.sub-heading {
  font-size: 1.3rem;
}

.heading-detail {
  font-size: 1.1rem;
}

.title {
  color: var(--neutral-dark-blue);
  font-size: 1.3rem;
}

.card {
  position: relative;
  background: #fff;
  padding: 4rem 1.6rem 2rem 1.6rem;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card .card-icon {
  position: absolute;
  top: -40px;
  left: 30px;
  background: var(--primary-violet);
  color: var(--primary-cyan);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  width: 75px;
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-description {
  font-size: 0.9rem;
  margin-top: 1rem;
}

/* Header */
#main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  margin-top: 6rem;
}

/* Navbar */
#main-header #navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  background: #fff;
  z-index: 100;
}

#navbar .container,
#navbar .container .link-container {
  display: flex;
  align-items: center;
  padding-top: 1.2rem;
}

#navbar .container .logo {
  flex: none;
  margin-right: 3rem;
}

#navbar .container .link-container {
  flex: 1;
  padding-top: 0;
}

.link-container .nav-links {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.nav-links .nav-item:not(:last-child) {
  margin-right: 2rem;
}

.nav-item .nav-link {
  color: var(--neutral-violet);
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:active {
  color: var(--neutral-dark-violet);
}

.link-container .authentication {
  margin-left: auto;
  margin-right: 0;
}

/* Showcase */
#main-header .showcase-container {
  /* prevent scrolling on mobile devices */
  overflow-x: hidden;
}

.showcase-container .showcase {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 0.5rem 4rem;
}

.showcase .heading {
  margin-top: auto;
  animation: show-from-top 0.7s ease-in-out backwards;
}

.showcase .sub-heading {
  animation: show-from-left 0.7s ease-in-out backwards 0.5s;
}

.showcase .showcase-image {
  grid-row: 1 / span 3;
  grid-column: 2;
  width: 150%;
  object-fit: scale-down;
}

.showcase .btn-start {
  margin: 0 auto auto 0;
  transform: translateY(-20%);
}

/* Main Working Area */
.working-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  padding-bottom: 7rem;
}

.working-area .container {
  width: 100%;
}

.working-area .container .link-generate {
  display: flex;
  flex-direction: column;
  margin-top: -7rem;
}

/* Link Generating Form */
.link-generate .shortening-form {
  background: url('../images/bg-shorten-desktop.svg') no-repeat center
      center/cover,
    var(--primary-violet);
  padding: 3rem 4rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  position: relative;
  display: flex;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.shortening-form input {
  flex: 1;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.shortening-form .btn-shorten {
  width: 11rem;
  position: relative;
}

.btn-shorten .spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: red;
  width: 35px;
  height: 35px;
  animation: rotating 2s linear infinite;
}

.hide-spinner {
  display: none;
  animation: none;
}

.shortening-form .error-message {
  position: absolute;
  left: 4rem;
  bottom: 1rem;
  color: var(--secondary-red);
  font-style: italic;
  font-size: 1rem;
}

.link-generate .shorten-result {
  display: flex;
  flex-direction: column;
}

.shorten-result .result-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.shorten-result .result-container:last-child {
  margin-bottom: 0;
}

.hide-link {
  transform: translate(-200%);
}

.result-container .old-link {
  margin-right: 1.5rem;
  color: var(--neutral-dark-violet);
  font-size: 1.3rem;
  overflow-x: auto;
  white-space: nowrap;
  flex: 3;
}

.result-container .old-link::-webkit-scrollbar {
  height: 6px;
  background: var(--primary-cyan);
  border-radius: 50px;
}

.result-container .old-link::-webkit-scrollbar-thumb {
  background: var(--primary-violet);
  border-radius: 50px;
}

.result-container .new-link-field {
  display: flex;
  align-items: center;
}

.result-container .new-link-field .new-link {
  margin-right: 1.5rem;
  color: var(--primary-cyan);
  overflow-x: auto;
  white-space: nowrap;
}

.result-container .new-link-field .remove-link {
  margin-left: 1.5rem;
  fill: var(--secondary-red);
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}

.result-container .new-link-field .remove-link:hover,
.result-container .new-link-field .remove-link:active {
  fill: red;
}

/* Statistics */
.working-area .statistics {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics .l-heading,
.statistics .heading-detail {
  text-align: center;
  max-width: 530px;
  margin-bottom: 1rem;
}

.statistics .stats-items {
  position: relative;
  margin-top: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-items .stats-line {
  position: absolute;
  top: 45%;
  width: 90%;
  height: 6px;
  background: var(--primary-cyan);
}

.stats-items .card:nth-child(2) {
  margin-right: 2rem;
  transform: translateY(-20%);
}

.stats-items .card:nth-child(4) {
  margin-left: 2rem;
  transform: translateY(20%);
}

/* Boost Links Section */
.boost-links {
  background: url('../images/bg-boost-desktop.svg') no-repeat center
      center/cover,
    var(--primary-violet);
  padding: 1rem 0;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.boost-links .l-heading {
  color: #fff;
  margin-bottom: 1.5rem;
}

/* Footer */
.main-footer {
  background: var(--neutral-dark-violet);
  padding: 2rem;
}

.main-footer .footer-container {
  display: flex;
}

.footer-container .logo {
  flex: 3;
}

.footer-container .footer-content {
  flex: 7;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-content .footer-menu {

  display: flex;
  flex-direction: column;
}

.footer-menu .lead {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-menu ul {
  display: flex;
  flex-direction: column;
}

.footer-menu ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-menu ul li a {
  color: var(--neutral-violet);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.footer-menu ul li a:hover,
.footer-menu ul li a:active {
  color: var(--primary-cyan);
}

.footer-content .social {
  display: flex;
}

.footer-content .social li:not(:last-child) {
  margin-right: 1.5rem;
}

.footer-content .social .social-icon {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.footer-content .social .social-icon:hover,
.footer-content .social .social-icon:active {
  fill: var(--primary-cyan);
}

/* Animation Classes */
.show-from-top {
  animation: show-from-top 0.7s backwards ease-in-out;
}

.show-from-bottom {
  animation: show-from-bottom 0.7s backwards ease;
}

.show-from-right {
  animation: show-from-right 0.7s ease-in-out backwards;
}

.show-from-left {
  animation: show-from-left 0.7s ease-in-out backwards;
}

.show-from-center {
  animation: show-from-center 0.7s ease-in-out backwards;
}

.card-left {
  animation: card-left 0.7s ease-in-out backwards;
}

.card-right {
  animation: card-right 0.7s ease-in-out backwards;
}

.card-left-bottom {
  animation: card-left-bottom 0.7s ease-in-out backwards;
}

.card-right-bottom {
  animation: card-right-bottom 0.7s ease-in-out backwards;
}

.show-card-line {
  animation: show-card-line 0.5s ease-in-out backwards;
}

/* Keyframes */
@keyframes show-from-top {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show-from-bottom {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show-from-left {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes card-left {
  0% {
    transform: translate(-200%, -20%);
  }

  100% {
    transform: translate(0, -20%);
  }
}

@keyframes card-right {
  0% {
    transform: translate(200%, 20%);
  }

  100% {
    transform: translate(0, 20%);
  }
}

@keyframes show-card-line {
  0% {
    transform: scale(0, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
